.main {
	@apply flex justify-center items-center flex-row;
	gap: 50px;
	width: 100%;
	height: 800px;
	background: #f7f8fa;
	.left {
		@apply flex justify-center items-start flex-col;
		gap: 38px;
		max-width: 540px;
		.check_items {
			@apply flex justify-center items-start flex-col;
			gap: 10px;
			.item {
				@apply flex justify-center items-center flex-row gap-2;
			}
		}
		.bottom {
			@apply flex justify-start items-end;
			height: 90px;
		}
	}
	.right {
	}
}
