.main {
	position: relative;
	@apply flex justify-center items-center;
	width: 100%;
	height: 780px;
	.body {
		@apply flex justify-center items-center flex-col;
		border-radius: 5px;
		gap: 45px;
		position: absolute;
		padding: 33px;
		width: 730px;
		height: 349px;
		background-color: #f7f8fa;
		h1 {
			font-size: 40px;
			font-weight: 500;
		}
		h1,
		p {
			text-align: center;
			color: var(--black);
		}
	}
}
